<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="spUserName" value="Adm_sp@bajajelect.onmicrosoft.com" />
    <add key="spPassword" value=")365$hare@g987_new1" />
    <add key="RootURL" value="https://bajajelect.sharepoint.com" />
    <add key="RootSiteURL" value="/sites/WFRoot" />
    <add key="ArtworkSiteURL" value="/sites/Artwork" />
    <add key="AdminUserID" value="9" />
    <add key="AdminUserName" value="Artwork Admin Team" />
    <add key="FromEmailAddress" value="dcrdcnuser1@bajajelectricals.com" />
    <add key="CachingNotRequiredFor" value="" />
    <add key="CacheMode" value="true" />
    <add key="CacheInterval" value="" />
    <add key="EnvironmentLive" value="true" />
    <add key="UseRESTAPI" value="false" />
    <add key="AllowAsync" value="false" />
  </appSettings>

  <log4net threshold="On">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\BELAutoApprovalJob_log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>