<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-BEL.ArtworkWorkflow-20170616120624.mdf;Initial Catalog=aspnet-BEL.ArtworkWorkflow-20170616120624;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="RootURL" value="https://bajajelect.sharepoint.com"/>
    
    <add key="spUserName" value="Dcrdcnuser1@bajajelectricals.com"/>
    <add key="spPassword" value="pass@123"/>
    <add key="LockingDays" value="120"/>
    <add key="FromEmailAddress" value="dcrdcnuser1@bajajelectricals.com"/>

    <!--Prod-->
    <!--
    <add key="RootSiteURL" value="/sites/WFRoot" />
    <add key="ArtworkSiteURL" value="/sites/Artwork" />
    <add key="ClientId" value="4cf0333a-6b4e-445c-8c9a-4ecd1cedd563" />
    <add key="ClientSecret" value="gNa44jg/4dx+6K1YfY/5jySPW03QBtAQMFm4dMxpGPU=" />

    <add key="MarketingLevel1ForCpKAP" value="40,39"/>
    <add key="MarketingLevel1ForCpKAPName" value="Shirsat Sawedana,Suman Saurabh"/>
    <add key="MarketingLevel2ForCpKAP" value="36"/>
    <add key="MarketingLevel2ForCpKAPName" value="Thakkar Tejash"/>

    <add key="MarketingLevel1ForCpDAP" value="42,73,75,76"/>
    <add key="MarketingLevel1ForCpDAPName" value="Ambani Snehal,Rege Pranoti,Patil Darshan,Banerjee Satyajit"/>
    <add key="MarketingLevel2ForCpDAP" value="37,77"/>
    <add key="MarketingLevel2ForCpDAPName" value="Shaikh Arshad,Suvasiya Lekhraj"/>

    <add key="MarketingLevel1ForCpFANS" value="43"/>
    <add key="MarketingLevel1ForCpFANSName" value="Vashishtha Manishkumar"/>
    <add key="MarketingLevel2ForCpFANS" value="38"/>
    <add key="MarketingLevel2ForCpFANSName" value="Bansal Mateshwar"/>

    <add key="MarketingLevel1ForCpLTG" value="78,44"/>
    <add key="MarketingLevel1ForCpLTGName" value="Jaiswar Priyanka,Halmare Kapil"/>
    <add key="MarketingLevel2ForCpLTG" value="37"/>
    <add key="MarketingLevel2ForCpLTGName" value="Shaikh Arshad"/> -->

    <!--<add key="RootSiteURL" value="/sites/WFRootDev" />
    <add key="ArtworkSiteURL" value="/sites/ArtworkUAT" />
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="ShPD/89gH8Rt3W/0l7eBlpfoUa6MXDHue00xSsuT1+8=" />-->

    <!--UAT -->
    <!-- -->
  
    <add key="RootSiteURL" value="/sites/WFRootDev"/>
    <add key="ArtworkSiteURL" value="/sites/BELArtworkUAT"/>
    <add key="ClientId" value="20eeaa1e-29e4-4b32-8c76-8879f4664cb8"/>
    <add key="ClientSecret" value="DbkcmZxweJ0lvRoUJw/le+tSeQcsRB6IuW12iFUDJOc="/>
    
    <add key="MarketingLevel1ForCpKAP" value="23,69,82"/>
    <add key="MarketingLevel1ForCpKAPName" value="SharePoint Notifications,Shirsat Sawedana,Suman Saurabh"/>
    <add key="MarketingLevel2ForCpKAP" value="25,70"/>
    <add key="MarketingLevel2ForCpKAPName" value="Training Management Sytem User 1,Thakkar Tejash"/>
    
    <add key="MarketingLevel1ForCpDAP" value="23,81,73,75,76"/>
    <add key="MarketingLevel1ForCpDAPName" value="SharePoint Notifications,Ambani Snehal,Rege Pranoti,Patil Darshan,Banerjee Satyajit"/>
    <add key="MarketingLevel2ForCpDAP" value="25,37,80"/>
    <add key="MarketingLevel2ForCpDAPName" value="Training Management Sytem User 1,Shaikh Arshad,Suvasiya Lekhraj"/>
    
    <add key="MarketingLevel1ForCpFANS" value="23,84"/>
    <add key="MarketingLevel1ForCpFANSName" value="SharePoint Notifications,Vashishtha Manishkumar"/>
    <add key="MarketingLevel2ForCpFANS" value="25,83"/>
    <add key="MarketingLevel2ForCpFANSName" value="Training Management Sytem User 1,Bansal Mateshwar"/>
    
    <add key="MarketingLevel1ForCpLTG" value="23,78,79"/>
    <add key="MarketingLevel1ForCpLTGName" value="SharePoint Notifications,Jaiswar Priyanka,Halmare Kapil"/>
    <add key="MarketingLevel2ForCpLTG" value="25,80"/>
    <add key="MarketingLevel2ForCpLTGName" value="Training Management Sytem User 1,Shaikh Arshad"/> 
 
    <!--DEV-->
    <!--<add key="RootSiteURL" value="/sites/WFRootDev" />
    <add key="ArtworkSiteURL" value="/sites/ArtworkDev" />
    <add key="ClientId" value="a28a9e5b-c164-4ee5-88a0-19e7c9f41e63" />
    <add key="ClientSecret" value="DAX9KlnrQUAfqZYQ7PAuw8phqvPIyOCBVHvKvpHdRUI=" />-->

    <!--UATNew
    <add key="rootsiteurl" value="/sites/wfrootdev" />
    <add key="artworksiteurl" value="/sites/artworkuat" />
    <add key="clientid" value="773139c1-3f47-4bd7-adf8-009616d139f4" />
    <add key="clientsecret" value="51bkxrqufr5xfbolzhe1tmlyomct3fv0uajae0trrms=" />  -->
     
    <add key="CachingNotRequiredFor" value="Item Master Artwork Type Mapping Master"/>
    <add key="CacheMode" value="true"/>
    <add key="CacheInterval" value=""/>
    
    <add key="EnvironmentLive" value="false"/>
    <add key="UseRESTAPI" value="false"/>
    <add key="AllowAsync" value="true"/>
    <add key="version" value="2.0"/>
  </appSettings>
  <log4net threshold="ON">
    <level/>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\artworkapp_log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="2"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <system.web>
    <sessionState timeout="120"></sessionState>
    <authentication mode="None"/>
    <customErrors mode="On"></customErrors>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" executionTimeout="100000" maxRequestLength="214748364"/>
    
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520"/>
        <!--20 MB-->  
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="p3p" value="CP='IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT'"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SharePoint.Client.UserProfiles" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SharePoint.Client.Taxonomy" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.11.0" newVersion="5.5.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport"/>
        </binding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding1">
          <security mode="Transport"/>
        </binding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding2">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding2"/>
    </protocolMapping>
  </system.serviceModel>
</configuration>
